body {
    background-color: aqua;
    text-align: center;
    font: normal 20px arial;
}

header {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.350);
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.350);
}

div {
    padding: 8px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.350);
    font-style: italic;
}